<template>
  <!--  -->
  <div v-if="isAuthenticated">
    <h1>
      Bienvenido/a {{ user.name }}
      <router-link to="/logout"> Logout</router-link>
    </h1>
    <input
      v-model="theircomment"
      placeholder="Deja tu comentario"
      type="text"
      @keypress.enter="saveMessage"
    />
    <button @click="cargarComentarios">Refresh now! :)</button>
  </div>

  <div v-else>
    <router-link to="/login"> Login in!! </router-link>
  </div>
  <!-- 
  {{ isAuthenticated }}
  {{ user }} -->

  <p v-for="comentario in comments" :key="comentario.id">
    {{ comentario.contenido }}
  </p>
</template>

<script>
export default {
  name: "app",
  data() {
    // retorna las variables que va usar ese componente
    return {
      theircomment: "Hello!",
      comments: [
        { id: 1, contenido: "Bye :)", fecha: "10/02/2022" },
        { id: 2, contenido: "uwu :)", fecha: "10/03/2022" },
        { id: 3, contenido: "hehe :)", fecha: "08/04/2022" },
        { id: 4, contenido: "Hey :)", fecha: "10/05/2022" },
      ],
      isAuthenticated: this.$auth0.isAuthenticated,
      user: this.$auth0.user,
    };
  },
  methods: {
    async saveMessage() {
      const token = await this.$auth0.getAccessTokenSilently();
      const insertResultado = await (
        await fetch(`/api/add?contenido=${this.theircomment}`, {
          headers: { Authorization: `Bearer ${token}` },
        })
      ).json();

      // Guardar en la base de datos
      let resultat = await (
        await fetch(`/api/add?contenido=${this.theircomment}`)
      ).json();
      this.comments.push({
        id: resultat.insertId,
        contenido: this.theircomment,
      });
    },
    async cargarComentarios() {
      // el async es per segon pla
      let resposta = await fetch("/api/get"); // el await va a esperar a que acabe el fetch
      let respostaJSON = await resposta.json();
      this.comments = respostaJSON;
      this.theircomment = "";
    },
  },
};
</script>
